section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width: 25em;
    justify-self: center;
}

form{
    align-self: center;
    width: 33em;
}

button:hover{
    background-color: var(--accent-color);
}

/* Floating résumé illustration */
img {
    position: relative;
    transform: translate(-0%, -0%);
    animation: float 5s ease-in-out infinite;
}
